IBM bluemix flow.json
[{"id":"85e57244.b0bff","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef170638.07a558","type":"inject","z":"85e57244.b0bff","name":"Normal","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["58829390.028a0c"]]},{"id":"3cf7fa2f.b3b706","type":"inject","z":"85e57244.b0bff","name":"Alert","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["58829390.028a0c"]]},{"id":"58829390.028a0c","type":"function","z":"85e57244.b0bff","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["880c1f0a.dea6a"]]},{"id":"880c1f0a.dea6a","type":"json","z":"85e57244.b0bff","name":"","property":"payload","action":"","pretty":false,"x":490,"y":340,"wires":[["c9cc80b0.be639"]]},{"id":"c9cc80b0.be639","type":"ibmiot out","z":"85e57244.b0bff","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"08002763A002","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{ }","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":340,"wires":[]},{"id":"22b595d5.8c8a6a","type":"debug","z":"85e57244.b0bff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":760,"wires":[]},{"id":"caac41d2.930fe","type":"ibmiot in","z":"85e57244.b0bff","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":120,"wires":[["2156206a.7d1ff"]]},{"id":"2156206a.7d1ff","type":"debug","z":"85e57244.b0bff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":120,"wires":[]},{"id":"9f834845.141388","type":"ibmiot in","z":"85e57244.b0bff","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"07080903","applicationId":"","deviceType":"senseHat","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":620,"wires":[["b6dd6a88.a98df8","ba69799c.5fd8f8","a97a2229.1043d","22b595d5.8c8a6a"]]},{"id":"9b4fd545.9e3b78","type":"ui_button","z":"85e57244.b0bff","name":"","group":"7ebbfe38.dc87b","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":840,"wires":[[]]},{"id":"771bf789.75e068","type":"ui_gauge","z":"85e57244.b0bff","name":"","group":"7ebbfe38.dc87b","order":1,"width":0,"height":0,"gtype":"gage","title":"Suhu","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":540,"wires":[]},{"id":"65b7e49.941dc1c","type":"ui_gauge","z":"85e57244.b0bff","name":"","group":"7ebbfe38.dc87b","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":620,"wires":[]},{"id":"54a35ae8.8c1bf4","type":"ui_gauge","z":"85e57244.b0bff","name":"","group":"7ebbfe38.dc87b","order":3,"width":0,"height":0,"gtype":"gage","title":"Tekanan","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":700,"wires":[]},{"id":"b6dd6a88.a98df8","type":"function","z":"85e57244.b0bff","name":"temperature","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["771bf789.75e068"]]},{"id":"ba69799c.5fd8f8","type":"function","z":"85e57244.b0bff","name":"humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["65b7e49.941dc1c"]]},{"id":"a97a2229.1043d","type":"function","z":"85e57244.b0bff","name":"pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":700,"wires":[["54a35ae8.8c1bf4"]]},{"id":"c60936f.a5e59c8","type":"comment","z":"85e57244.b0bff","name":"Received data from rpi to bluemix","info":"","x":170,"y":40,"wires":[]},{"id":"1858334.b33a7cd","type":"comment","z":"85e57244.b0bff","name":"send data from bluemix to rpi","info":"","x":160,"y":240,"wires":[]},{"id":"dc29aedb.a4a87","type":"comment","z":"85e57244.b0bff","name":"received data from rpi","info":"","x":120,"y":480,"wires":[]},{"id":"7ebbfe38.dc87b","type":"ui_group","z":"","name":"Default","tab":"856936ec.1284b8","disp":true,"width":"6","collapse":false},{"id":"856936ec.1284b8","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]