RaspberryPi flow.json
[{"id":"6aa98505.6b8a6c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5d999fc4.9ddb","type":"function","z":"6aa98505.6b8a6c","name":"","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceID =\"07080903se\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":560,"wires":[["e0ca928f.ffc63","d1d737b8.860b48"]]},{"id":"cf5e563.68b5ba8","type":"delay","z":"6aa98505.6b8a6c","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":560,"wires":[["5d999fc4.9ddb"]]},{"id":"5f93841e.a0188c","type":"rpi-sensehatsim in","z":"6aa98505.6b8a6c","name":"","motion":false,"env":true,"stick":false,"x":100,"y":560,"wires":[["cf5e563.68b5ba8"]]},{"id":"e0ca928f.ffc63","type":"debug","z":"6aa98505.6b8a6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":520,"wires":[]},{"id":"d1d737b8.860b48","type":"wiotp out","z":"6aa98505.6b8a6c","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"6f725bd7.9f2a54","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":800,"y":600,"wires":[]},{"id":"a3b29da3.17b94","type":"random","z":"6aa98505.6b8a6c","name":"","low":"1","high":"10","inte":"true","property":"payload","x":500,"y":140,"wires":[["ef2d3aa.970b0c8","c644734.d7f4f9"]]},{"id":"4144b29e.61ef7c","type":"function","z":"6aa98505.6b8a6c","name":"function","func":"msg.payload = { 'd' : { 'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["a3b29da3.17b94"]]},{"id":"9b64f2f3.89f45","type":"inject","z":"6aa98505.6b8a6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["4144b29e.61ef7c"]]},{"id":"ef2d3aa.970b0c8","type":"wiotp out","z":"6aa98505.6b8a6c","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"b4ba9f44.1fc01","deviceType":"","deviceId":"","event":"event","format":"json","qos":"0","name":"","x":770,"y":180,"wires":[]},{"id":"c644734.d7f4f9","type":"debug","z":"6aa98505.6b8a6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":100,"wires":[]},{"id":"9ac81d53.dd3e6","type":"debug","z":"6aa98505.6b8a6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":280,"wires":[]},{"id":"5c19b013.26b45","type":"wiotp in","z":"6aa98505.6b8a6c","authType":"d","deviceKey":"b4ba9f44.1fc01","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":130,"y":280,"wires":[["9ac81d53.dd3e6"]]},{"id":"c66324de.4e1968","type":"comment","z":"6aa98505.6b8a6c","name":"Received data from bluemix to raspberry pi","info":"","x":200,"y":220,"wires":[]},{"id":"9aa0c908.73cdd8","type":"comment","z":"6aa98505.6b8a6c","name":"Sending data from raspberry pi to bluemix","info":"","x":200,"y":40,"wires":[]},{"id":"b8dd7f78.deb5e","type":"comment","z":"6aa98505.6b8a6c","name":"sending environment using SenseHat Simulator","info":"","x":200,"y":440,"wires":[]},{"id":"6f725bd7.9f2a54","type":"wiotp-credentials","z":"","name":"raspigw","org":"n3q6qz","serverName":"","devType":"piGW","devId":"07080903","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"b4ba9f44.1fc01","type":"wiotp-credentials","z":"","name":"raspberry pi","org":"n3q6qz","serverName":"","devType":"raspberrypi","devId":"08002763A002","keepalive":"120","cleansession":true,"tls":"","usetls":false}]